<div class="container">
    <div class="container-right"></div>
    <div class="container-body">
        <div class="container-body-header">
            <div class="container-body-header-data">
                <span class="container-body-header-data-title">{{name}} {{data1}} | </span>
                <span class="container-body-header-data-item">{{data2}}</span>
                <div class="container-body-header-data-item">{{data3}}</div> 
                <span class="container-body-header-data-item">{{data4}}</span>  
                <div class="container-body-header-data-item">{{amount1}} {{data5}}</div>
            </div>
            <div class="container-body-header-icons">
                <div class="container-body-header-icons-mark "><i class="fa fa-hand-o-up"></i></div>
                <div class="container-body-header-icons-arrow"><i class="fa fa-chevron-left"></i></div>
            </div>
        </div>
        <div class="container-body-footer">
            <span class="container-body-footer-number">{{amount2}}</span>
            <span class="container-body-footer-image"><i class="fa fa-hand-o-up"></i></span>
            <span class="container-body-footer-image"><i class="fa fa-dollar"></i></span>
            <span class="container-body-footer-image"><i class="fa fa-circle"></i></span>
            <span class="container-body-footer-number">{{amount3}}</span>
            <span class="container-body-footer-image"><i class="fa fa-plus-square"></i></span>
            <span class="container-body-footer-image"><i class="fa fa-angellist"></i></span>
            <span class="container-body-footer-time">לפני {{time}}</span>
        </div>
    </div>
</div>
